{% extends 'layout.html' %}
{% block content %}
  
<style>
    .contact{
        margin: auto;
    }
    .btn{
        margin-left: 250px;
    }
    section{
        background-image: url('../static/assets/images/banner1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
{% if messages %}
{% for message in messages %}
   <script>
   alert('{{ message }}')
   </script>
{% endfor %}
{% endif %}
<section class="w3l-contact py-5" id="contact">
    <div class="container py-md-5 py-4">
        <h3 class="title-style text-center mb-5">View<span>Decorations</span></h3>
        <div class="row contact-block">
            {% for i in data %}


                        <div class="custom-card col-md-5">
                            <div class="row">
                            <div class="col-md-4">
                        <a href="{{i.dec.url}}">        <img src="{{i.dec.url}}" alt="" width="100" height="100"></a>
                            </div>
                            <div class="col-md-8">
                                <p><strong>Decoration:</strong> {{ i.title }}</p>
                                <p><strong>Amount:</strong> {{ i.amount }}Rs</p>
                                {% if request.session.ut == 3 %}
                                <a href="/sponserdec/{{ i.id }}" class="text-danger"><button class="btn-primary">Sponser This</button></a>
                               {% endif %}
                               {% if request.session.ut == 1 and i.status == 0 %}
                               <a href="/edit_dec/{{ i.id }}" class="text-danger"><button class="btn-primary">Edit</button></a>
                               <a href="/delete_dec/{{ i.id }}" class="text-danger"><button class="btn-danger" onclick="return confirm('Are Sure To Delete')">Delete</button></a>

                              {% endif %}
                            </div>
                        </div>
                          
                        </div>

            {% endfor %}

        </div>
    </div>
</section>

<style>
    .custom-card {
        background: linear-gradient(to right, rgba(255, 0, 0, 0.342), rgba(0, 0, 0, 0.451), rgba(255, 255, 255, 0.549));
        color: white;
        padding: 20px;
        margin-bottom: 15px;
        margin-left: 5px;

        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    .custom-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .custom-card h4 {
        margin-top: 0;
        color: white;

    }

    .custom-card p {
        margin: 5px 0;
        color: white;

    }
    .big{
        max-width:300px;
        overflow-wrap: break-word;
    }
</style>
{% endblock %}
