
    <!-- //header -->

    <!-- inner banner -->
   
    <!-- //inner banner -->
    {%extends 'layout.html'%}
    {%block content%}
    {% load static %}
    <style>
        .toast-center {
               top: 10%;
               left: 50%;
               transform: translate(-50%, -50%);
               position: fixed;
           }   
   </style>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <!-- Include Toastr JS -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
       {% if messages %}
       {% for message in messages %}
       <script>
           // Override Toastr options to use custom positioning class
           toastr.options = {
               "positionClass": "toast-center",
               "closeButton": true,
               "debug": false,
               "newestOnTop": true,
               "progressBar": true,
               "preventDuplicates": false,
               "onclick": null,
               "showDuration": "100",
               "hideDuration": "1000",
               "timeOut": "2000",
               "extendedTimeOut": "1000",
               "showEasing": "swing",
               "hideEasing": "linear",
               "showMethod": "fadeIn",
               "hideMethod": "fadeOut"
           };
   
           // Use Toastr to display a success message
           toastr.success('{{message}}', 'message');
       </script>
       {% endfor %}
       {% endif %}
    <style>
        .contact{
            margin: auto;
        }
        .btn{
            margin-left: 250px;
        }
        section{
            background-image: url('../static/assets/images/banner1.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>
    
    <!-- contact block -->
    <section class="w3l-contact py-5" id="contact">
        <div class="container py-md-5 py-4">
            <h3 class="title-style text-center mb-5">Lo<span>gin</span></h3>
            <div class="row contact-block">
                <div class="col-md-7 contact">

                    <form action="" method="post" class="signin-form">
                        <div class="input-grids">
                           
                            <!-- <input type="text" name="w3lSubect" id="w3lSubect" placeholder="Subject"
                            class="contact-input" required="" /> -->
                            {% csrf_token %}
                            {{form.username}}<br>
                            <span style="color: red;" id="id_span"></span>

                            {{form.password}}
                        </div>
                      
                        <div class="text-start">
                            <button class="btn btn-style btn-style-3">Login</button>
                        </div>
                    </form>
                </div>
               
            </div>
        </div>
    </section>{% if messages %}
    {% for message in messages %}
       <script>
     
       document.getElementById("id_span").innerHTML='{{message}}'
       </script>
    {% endfor %}
    {% endif %}
    
    <!-- map -->
    {%endblock%}
    <!-- //contact block -->

    <!-- footer -->
   